main.container {
  position: relative;
  padding-block: 3em;
}

.column,
.column--large {
  display: flex;
  flex-direction: column;
}

.column--large strong {
  font-size: 1.5rem !important;
}

.floating-form {
  position: sticky;
  top: 0;
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
